#footer {top:0; height: 24px; width: 100%; position: absolute; bottom: 0; left: 0; color: #666; z-index: 5; font-family: Helvetica,Arial,sans-serif; }
#footer a{float: left; display:block; line-height: 24px; margin: 2px 0 0 15px; color: #666; font-size: 11px; font-weight: bold;}
#footer a:hover{text-decoration: underline;}
#footer span{ line-height: 24px}
.links{float: left; padding: 0 4px;}
.fondo_footer{background: url(images/footer.png) repeat-x;}
.contenedor_footer {height: 24px; width: 100%; position: absolute; bottom: 0; left: 0; right:0; background-position: left -90px;}
