<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <filter>
        <filter-name>filterAI</filter-name>
        <filter-class>filtros.filterAI</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>filterAI</filter-name>
        <servlet-name>fontControllerAI</servlet-name>
    </filter-mapping>
    <listener>
        <listener-class>listeners.DBConnectionListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>loginController</servlet-name>
        <servlet-class>controller.loginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fontControllerAI</servlet-name>
        <servlet-class>controller.fontControllerAI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>jsonController</servlet-name>
        <servlet-class>controller.jsonController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>formController</servlet-name>
        <servlet-class>controller.formController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fontControllerCC</servlet-name>
        <servlet-class>controller.fontControllerCC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>formController2</servlet-name>
        <servlet-class>controller.formController2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fontControllerF</servlet-name>
        <servlet-class>controller.fontControllerF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>formController3</servlet-name>
        <servlet-class>controller.formController3</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginController</servlet-name>
        <url-pattern>/loginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fontControllerAI</servlet-name>
        <url-pattern>/ControllerAI</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>jsonController</servlet-name>
        <url-pattern>/jsonController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>formController</servlet-name>
        <url-pattern>/formController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fontControllerCC</servlet-name>
        <url-pattern>/ControllerCC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>formController2</servlet-name>
        <url-pattern>/formController2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fontControllerF</servlet-name>
        <url-pattern>/ControllerF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>formController3</servlet-name>
        <url-pattern>/formController3</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
